<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckUserName</servlet-name>
        <servlet-class>controller.CheckUserName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHang</servlet-name>
        <servlet-class>controller.GioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAtGioHang</servlet-name>
        <servlet-class>controller.RemoveAtGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemGioHang</servlet-name>
        <servlet-class>controller.ThemGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaGioHang</servlet-name>
        <servlet-class>controller.XoaGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaGioHang</servlet-name>
        <servlet-class>controller.SuaGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QLNguoiDung</servlet-name>
        <servlet-class>controller.QLNguoiDung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhuyenMai</servlet-name>
        <servlet-class>controller.KhuyenMai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayML</servlet-name>
        <servlet-class>controller.LayML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPham</servlet-name>
        <servlet-class>controller.SanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doimatkhau</servlet-name>
        <servlet-class>controller.Doimatkhau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImage</servlet-name>
        <servlet-class>controller.UpdateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageCTMH</servlet-name>
        <servlet-class>controller.UploadImageCTMH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaCTImage</servlet-name>
        <servlet-class>controller.XoaCTImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHinhAnh</servlet-name>
        <servlet-class>controller.LoadHinhAnh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemCTMatHang</servlet-name>
        <servlet-class>controller.ThemCTMatHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageCTMH</servlet-name>
        <servlet-class>controller.ImageCTMH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaHinhAnh</servlet-name>
        <servlet-class>controller.XoaHinhAnh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LapHoaDon</servlet-name>
        <servlet-class>controller.LapHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSanPham</servlet-name>
        <servlet-class>controller.UpdateSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InHoaDon</servlet-name>
        <servlet-class>controller.InHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>controller.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHANews</servlet-name>
        <servlet-class>controller.LoadHANews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Thongke</servlet-name>
        <servlet-class>controller.Thongke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaHoaDon</servlet-name>
        <servlet-class>controller.XoaHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quenmatkhau</servlet-name>
        <servlet-class>controller.Quenmatkhau</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserName</servlet-name>
        <url-pattern>/CheckUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHang</servlet-name>
        <url-pattern>/GioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAtGioHang</servlet-name>
        <url-pattern>/RemoveAtGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemGioHang</servlet-name>
        <url-pattern>/ThemGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaGioHang</servlet-name>
        <url-pattern>/XoaGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaGioHang</servlet-name>
        <url-pattern>/SuaGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QLNguoiDung</servlet-name>
        <url-pattern>/QLNguoiDung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhuyenMai</servlet-name>
        <url-pattern>/KhuyenMai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayML</servlet-name>
        <url-pattern>/LayML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPham</servlet-name>
        <url-pattern>/SanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doimatkhau</servlet-name>
        <url-pattern>/Doimatkhau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImage</servlet-name>
        <url-pattern>/UpdateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageCTMH</servlet-name>
        <url-pattern>/UploadImageCTMH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaCTImage</servlet-name>
        <url-pattern>/XoaCTImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHinhAnh</servlet-name>
        <url-pattern>/LoadHinhAnh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemCTMatHang</servlet-name>
        <url-pattern>/ThemCTMatHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCTMH</servlet-name>
        <url-pattern>/ImageCTMH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaHinhAnh</servlet-name>
        <url-pattern>/XoaHinhAnh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LapHoaDon</servlet-name>
        <url-pattern>/LapHoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSanPham</servlet-name>
        <url-pattern>/UpdateSanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InHoaDon</servlet-name>
        <url-pattern>/InHoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHANews</servlet-name>
        <url-pattern>/LoadHANews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Thongke</servlet-name>
        <url-pattern>/Thongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaHoaDon</servlet-name>
        <url-pattern>/XoaHoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quenmatkhau</servlet-name>
        <url-pattern>/Quenmatkhau</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
